<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ url_for('home') }}">JUNIOR DEVELOPER BLOG</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('posts.index') }}">Блог</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Новости</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Что нибудь еще
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ url_for('posts.create_post') }}">+ New Post</a>
                    <a class="dropdown-item" href="#">И еще</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">И что-то еще</a>
                </div>
            </li>

        </ul>
        <ul class="navbar-nav mr-auto">
            <form class="form-inline" method="get">
                <div class="input-group" style="width: 400px">
                    <input type="search" class="form-control" placeholder="Search" aria-label="Search" name="search"
                           value="{{ request.args.get('search', '') }}">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </ul>
        <ul class="navbar-nav my-2 my-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/login">Вход</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Регистрация</a>
            </li>
        </ul>

    </div>
</nav>
<br>

{#<form method="get">#}
{#    <div class="input-group mb-3" >#}
{#        <input type="search" class="form-control" placeholder="search" aria-label="Search">#}
{#        <div class="input-group-append">#}
{#            <button class="btn btn-outline-secondary" type="submit">Search</button>#}
{#        </div>#}
{#    </div>#}
{#</form>#}

<br>
<div style="padding: 0 70px">
    <div class="container">
        <div class="row">
            <h1>
                {% block content_title %}{% endblock %}
            </h1>
        </div>
    </div>
    <br>
    {% block content %}{% endblock %}
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>


{% block script %}{% endblock %}

</body>
</html>